@import "../../styles/main";

.categories {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__title {
    margin-bottom: 24px;
  }

  &__categories {
    display: flex;
    gap: 16px;

    @include on-tablet {
      justify-content: center;
    }

    @include on-mobile {
      flex-direction: column;
      align-items: center;
    }
  }
}
