@import "../../styles/main";

.empty {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-block: 113px 115px;

  &__image {
    width: 656px;

    @include on-tablet {
      width: 350px;
    }
  }

  &__button {
    display: flex;
    width: 320px;
  }

  .title.empty__title {
    @include on-tablet {
      text-align: center;

      font-size: 22px;
    }
  }
}
