@import "../../styles/main";

.favourites {
  --grid-columns: 4;

  &__top {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__text {
    color: $secondary-color;

    @extend %body-text;

    &--found {
      margin-block: 24px;
    }
  }

  &__container {
    @include on-tablet {
      display: flex;

      justify-content: center;
    }
  }

  &__content {
    margin-bottom: 80px;

    display: grid;
    grid-template-columns: repeat(var(--grid-columns), max-content);
    gap: 40px 16px;

    @include on-tablet {
      --grid-columns: 2;

      gap: 40px 30px;
    }

    @include on-mobile {
      --grid-columns: 1;
    }
  }
}
