@import "../../styles/main";

.category {
  &__images-container {
    display: block;

    width: 368px;
    height: 368px;
    position: relative;
    overflow: hidden;

    margin-bottom: 24px;

    @include on-tablet {
      width: 187px;
      height: 187px;
    }

    @include on-mobile {
      width: 368px;
      height: 368px;
    }

    &--1 {
      background-color:#6d6474;
    }

    &--2 {
      background-color: #8d8d92;
    }

    &--3 {
      background-color: #973d5f;
    }
  }

  &__image {
    object-fit: contain;

    &--1 {
      width: 386px;
      height: 457px;
      margin-left: 73px;
      margin-top: 8px;

      @include on-tablet {
        width: 196px;
        height: 232px;
        margin-left: 20px;
        margin-top: 0;
      }

      @include on-mobile {
        width: 386px;
        height: 457px;
        margin-left: 73px;
        margin-top: 8px;
      }
    }

    &--2 {
      width: 546px;
      height: 546px;
      margin-left: 22px;
      margin-top: 20px;

      @include on-tablet {
        width: 277px;
        height: 277px;
        margin-left: 18px;
        margin-top: 12px;
      }

      @include on-mobile {
        width: 546px;
        height: 546px;
        margin-left: 22px;
        margin-top: 20px;
      }
    }

    &--3 {
      width: 700px;
      height: 700px;
      margin-left: 30px;
      margin-top: -135px;

      @include on-tablet {
        width: 365px;
        height: 447px;
        margin-left: 20px;
        margin-top: -108px;
      }

      @include on-mobile {
        width: 700px;
        height: 700px;
        margin-left: 30px;
        margin-top: -135px;
      }
    }

    @include hover(transform, scale(1.05));
  }

  &__content {
    @extend %h3;

    font-weight: 600;
  }

  &__name {
    margin-bottom: 4px;

    @extend %h3;
  }

  &__models {
    @extend %body-text;

    color: $secondary-color;
  }
}
