@import "../../styles/main";

.link-social {
  padding-block: 43px 42px;

  @extend %upper-case;
  @include hover(color, $main-color);

  @include on-mobile {
    flex-direction: column;
    padding-block: 0;
  }
}
